<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pre_style.css">
    <link rel="stylesheet" href="/static/css/home_upd1.css">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <script src="https://kit.fontawesome.com/e72f201fc4.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="/static/css/community.css">
 <link rel="stylesheet" href="/static/css/nav.css">
 <link rel="stylesheet" href="/static/css/banner_upd.css">
</head>
<body>
  <div id="overlay" class="body">
    <div class="bookk">
        <div class="innerr">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <ul class="ul">
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
            <li class="li"></li>
        </ul>
    </div>
</div>
<div id="db" style="display: none;">
    <nav class="navbar navbar-expand-lg shadow fixed-top" style=" background-color: white;border-bottom: 1px solid white ">
        <a href="/" class="navbar-brand">
            <img src="/static/image/logo_copy.png" class="image-fluid text-white" alt="" style="height: 65px; ">
        </a>
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: #0c265f;"><i class="fas fa-bars fa-2x"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between ml-n1" id="navbarCollapse">
            <ul class="navbar-nav">
                <li>
                    <a href="/jvt/vision" class="mx-3 nav-item nav-link icons ">Vision</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle icons mx-3 " data-toggle="dropdown" style="color: #0c265f;">Courses</a>
                    <div class="dropdown-menu" style="border-radius: 10px; ">
                        <ul class="dropdown-item ">
                            <li style="list-style: none;" class="d-flex ml-n3">
                                <div style="border-color:#777;border-style:solid;border-width:1px;height:40px;width:70px;background-color: #9fa8da" class="center-align cyan lighten-3 black-text">
                                    <div style="margin:0;margin-top:2px;font-size:20px;font-weight:600;margin-left: 12px;">
                                        9-12
                                        <p style="font-size:9px;margin-top: -7px; margin-left: 10px" class="truncate">
                                            Age</p>
                                    </div>
                                </div>
                                <a href="/course/9" style="text-decoration: none; color: black;">
                                    <div class="justify-content-center text-center ml-3 mt-2">
                                        Beginner (Grade 5-7)
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-item ">
                            <li style="list-style: none;" class="d-flex ml-n3">

                                <div style="border-color:#777;border-style:solid;border-width:1px;height:40px;width:70px;background-color: #81d4fa;" class="center-align cyan lighten-3 black-text">
                                    <div style="margin:0;margin-top:2px;font-size:20px;font-weight:600;margin-left: 12px;">
                                        12-14
                                        <p style="font-size:9px;margin-top: -7px;margin-left: 12x" class="truncate">Age</p>
                                    </div>
                                </div>
                                <a href="/course/12" style="text-decoration: none; color: black;">
                                    <div class="justify-content-center text-center ml-3 mt-2">
                                        Intermediate (Grade 8-10)
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-item ">
                            <li style="list-style: none;" class="d-flex ml-n3">
                                <div style="border-color:#777;border-style:solid;border-width:1px;height:40px;width:70px;background-color: #fff59d;" class="center-align cyan lighten-3 black-text">
                                    <div style="margin:0;margin-top:2px;font-size:20px;font-weight:600;margin-left: 8px;">
                                        15+
                                        <p style="font-size:9px;margin-top: -7px;margin-left: 12px" class="truncate">Age</p>
                                    </div>
                                </div>
                                <a href="/course/15" style="text-decoration: none; color: black;">

                                    <div class="justify-content-center text-center ml-3 mt-2">
                                        Advanced (Grade 11+)
                                    </div>
                                </a>

                            </li>
                        </ul>

                    </div>
                </li>
                <li>
                    <a href="/Jvt/welcome/Community" class="nav-item nav-link  icons mx-3 ">Community</a>
                </li>
                <li>
                    <a href="/Jvt/Careers" class="nav-item nav-link  icons mx-3 ">Career</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-md-4 ml-lg-n3 ml-xl-0 ">
                    {%if user.is_authenticated %}
                    <li class="nav-item dropdown pt-3">
                        <div class="c-profile-image d-inline " aria-hidden="true" style="width: 45px; height: 45px;">
                            {%if profile.photo == 'False' %}
                            <img src="/static/image/profilepic.png" class="rounded-circle" alt=""
                                style="max-width: 45px; max-height: 45px;">
                            {%elif po == 0%}
                            <img src="/static/image/profilepic.png" class="rounded-circle" alt=""
                                style="max-width: 45px; max-height: 45px;">
                            {%else%}
                            <img src="{{profile.photo.url}}" class="rounded-circle" alt=""
                                style="max-width: 45px; max-height: 45px;">
                            {%endif%}
                            <li class="nav-item dropdown pt-3 mx-3">
                                <a class="nav-link dropdown-toggle text-dark d-inline" href="#" id="dropdown01"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="font-size: 20px;">{{user.username}}</a>
                                <div class="dropdown-menu   " aria-labelledby="dropdown01" style="font-size: 20px;">
                                    <a class="dropdown-item drop center"  href="/Profile/user=/{{user.id}}">
                                        <i class="far fa-user-circle pr-3" style="font-size: 30px;"></i>
                                        Profile</a>
                                    <hr class="m-0 p-0 text-black">
                                    <a class="dropdown-item drop center " href="/logout">
                                        <i class="fas fa-power-off pl-1 pr-3"style="font-size: 30px;"></i>Logout</a>
                                </div>
                            </li>
                        </div>
                    </li>
                    {%else%}
                    <li>
                        <a href="#" class=" btn mr-5 badge-pill px-5 nav-item  nav-link  icons " id="signupp" data-toggle="modal" data-target="#Signup">Signup</a>
                    </li>
                    <li>
                        <a href="/account/login" class="btn mr-5 px-5 badge-pill nav-item nav-link icons " id="signupp">Login</a>
                    </li>
                    {%endif%}
            </ul>
    </nav>
    <div class="row text-center text-white main-img shadow mt-5 pt-5">
        <div class="col mb-5 mt-5">
            <h1 class="mt-3">Striving Stars</h1>
            <h1 class="mt-lg-5 mb-lg-5">Code Rangers Community Hub</h1>
        </div>
    </div>
    <div class="container" >
      <div class="row  bg-light mt-4" >
          <div class="col-12">
              <h2 class="text-center font-weight-bold" style="color:#133a50">what is this all about?</h2>
              <p style="font-size: 1.25rem" class="text-justify">Our Community aiming to enrich young minds through innovative, corporate, and competitive initiatives, we always build universal products with unique, trending technologies and our students enjoys the events and competitions with a lot of fun, we don't make small things, we make things small with creative and innovation </p>
          </div>
      </div>
    </div>
        <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-sm mx-auto mr-5 my-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse mr-5" id="Navbar">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class=" btn btn-primary text-white nav-item nav-link active ml-5" style="border-radius: 20px 20px 20px 20px;" id="nav-events-tab" data-toggle="tab" href="#nav-events" role="tab" aria-controls="nav-events" aria-selected="true"> All Events</a>
                        <a class="btn btn-primary text-white nav-item nav-link ml-5" style="border-radius: 20px 20px 20px 20px;" id="nav-competitions-tab" data-toggle="tab" href="#nav-competitions" role="tab" aria-controls="nav-projects" aria-selected="false"> competitions</a>
                        <a class="btn btn-primary text-white nav-item nav-link ml-5" style="border-radius: 20px 20px 20px 20px;" id="nav-projects-tab" data-toggle="tab" href="#nav-projects" role="tab" aria-controls="nav-competitions" aria-selected="false">Major Projects</a>
                       <a class="btn btn-primary text-white nav-item nav-link ml-5" style="border-radius: 20px 20px 20px 20px;" id="nav-industry_solutions-tab" data-toggle="tab" href="#nav-indsol" role="tab" aria-controls="nav-indsol" aria-selected="false">Industry Solutions</a>
                    </div>
                </nav>
            </div>
            </nav>

           
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100 img-fluid" src="/static/image/sparx1.png" alt="First_slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100 img-fluid" src="/static/image/sparx2.png" alt="Second_slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100 img-fluid" src="/static/image/sparx1.png" alt="Third_slide">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <p class="mt-3 ml-3">16th, Febrauary 2021</p>
                            <h4 class="sparxhover">CoderRange Challange 2021, Bengaluru</h4>

                        </div>
                    
                    <!-- #nav-events .container1 .card .img .img-fluid -->
                    <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                      <div class="container2">
                        <div class="card shadow">
                            <div class="imgBx">
                              <img src="/static/image/1_a2gjcNgySb4-Qji6qyP_Lg.png" class="img-fluid" alt="event1" style="height: 355px;">
                            </div>
                            <div class="content">
                              <div class="margin-check">  <h3 class="text-center font-weight-bold">CR Code Challenge 1</h3> </div>
                              <h5 class=" mt-5"> 15th October 2020 </h5>
                              <h5 class="mt-3"> Vasavi School, Banglore </h5>
                              <p class="mt-4 mb-3">a coding challenge is an event conducted by vasavi in association with coderange, this event involves coding games and workshop on coding </p> <br>
                            <p class="font-weight-bold text-center"> <a href="#" class="text-center text-success">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                      <div class="container2">
                        <div class="card shadow">
                            <div class="imgBx">
                              <img src="/static/image/1-removebg.png" class="img-fluid" alt="event1" style="height: 355px;">
                            </div>
                            <div class="content">
                              <div class="margin-check">  <h3 class="text-center font-weight-bold">CR Code Challenge 2</h3> </div>
                              <h5 class=" mt-5"> 20th October 2020 </h5>
                              <h5 class="mt-3"> Gowtami School, Banglore </h5>
                              <p class="mt-4 mb-3">a coding challenge is an event conducted by Gowtami in association with coderange, this event involves coding games and workshop on coding </p> <br>
                            <p class="font-weight-bold text-center"> <a href="#" class="text-center text-success">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                      <div class="container2">
                        <div class="card shadow">
                            <div class="imgBx">
                              <img src="/static/image/comp-333.png" class="img-fluid" alt="event1" style="height: 355px;">
                            </div>
                            <div class="content">
                              <div class="margin-check">  <h3 class="text-center font-weight-bold">CR Code Challenge 3</h3> </div>
                              <h5 class=" mt-5"> 25th October 2020 </h5>
                              <h5 class="mt-3"> Aplha School, Banglore </h5>
                              <p class="mt-3 mb-3">a coding challenge is an event conducted by Alpha in association with coderange, this event involves coding games and workshop on coding </p> <br>
                            <p class="font-weight-bold text-center"> <a href="#" class="text-center text-success">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                      <div class="container2">
                        <div class="card shadow">
                            <div class="imgBx">
                              <img src="/static/image/100-1006261_computer-coding-clip-art.png" class="img-fluid" alt="event1" style="height: 355px;">
                            </div>
                            <div class="content">
                              <div class="margin-check">  <h3 class="text-center font-weight-bold">CR Code Challenge 4</h3> </div>
                              <h5 class=" mt-5"> 30th October 2020 </h5>
                              <h5 class="mt-3"> Balaji School, Banglore </h5>
                              <p class="mt-3 mb-3">a coding challenge is an event conducted by Balaji in association with coderange, this event involves coding games and workshop on coding </p> <br>
                            <p class="font-weight-bold text-center"> <a href="#" class="text-center text-success">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                      <div class="container2">
                        <div class="card shadow">
                            <div class="imgBx">
                              <img src="/static/image/221-2215277_coding-kid-cartoon.png" class="img-fluid" alt="event1" style="height: 355px;">
                            </div>
                            <div class="content">
                              <div class="margin-check">  <h3 class="text-center font-weight-bold">CR Code Challenge 5</h3> </div>
                              <h5 class=" mt-5"> 1st November 2020 </h5>
                              <h5 class="mt-3"> Viswashanti School, Banglore </h5>
                              <p class="mt-3 mb-3">a coding challenge is an event conducted by Viswashanti in association with coderange, this event involves coding games and workshop on coding </p> <br>
                            <p class="font-weight-bold text-center"> <a href="#" class="text-center text-success">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3"> 
                      <div class="container2">
                        <div class="card shadow">
                            <div class="imgBx">
                              <img src="/static/image/coding_20200102.jpg" class="img-fluid" alt="event1" style="height: 355px;">
                            </div>
                            <div class="content">
                              <div class="margin-check">  <h3 class="text-center font-weight-bold">CR Code Challenge 6</h3> </div>
                              <h5 class=" mt-5"> 10th November 2020 </h5>
                              <h5 class="mt-3"> Newton School, Banglore </h5>
                              <p class="mt-3 mb-3">a coding challenge is an event conducted by Newton in association with coderange, this event involves coding games and workshop on coding </p> <br>
                            <p class="font-weight-bold text-center"> <a href="#" class="text-center text-success">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                
                            </div>
                        </div>
                      </div>
                  </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nav-competitions" role="tabpanel" aria-labelledby="nav-competitions-tab">
                    <div class="row my-3">
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                      <img src="/static/image/comp-22.png" class="img-fluid" alt="competition1" style="height: 350px;">
                                  </div>
                                  <div class="content">
                                      <h3 class="text-center font-weight-bold">python Hackaton</h3>
                                      <p class="mt-5 text-justify">In this competetion, different sets of real world problems sets are given to students, student has to choose one of the set questions as he likes and need to solve the question in given time</p>
                                      <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                              <div class="container2">
                                <div class="card shadow">
                                    <div class="imgBx">
                                        <img src="/static/image/comp-11.png" class="img-fluid" alt="competition2" style="height: 350px;">
                                    </div>
                                    <div class="content">
                                        <h3 class="text-center font-weight-bold"> C++ Coding Challenge</h3>
                                        <p class="mt-5 text-justify">In this challenge, three Problems are given, user need to be select one of the problems and should use Standard Template Library and functions to get the efficient solution and atleast 4 test cases should pass</p>
                                          <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                              </div>
                          </div>
                            <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                              <div class="container2">
                                <div class="card shadow">
                                    <div class="imgBx">
                                        <img src="/static/image/comp-333.png" class="img-fluid" alt="competition3" style="height: 350px;">
                                    </div>
                                    <div class="content">
                                        <h3 class="text-center font-weight-bold">Java coding challenge </h3>
                                        <p class="mt-5 text-justify">In this challange, three problems are given, user should use java language and collections to get efficient and optimised solution, user should pass all edge cases without any unknown errors</p>
                                        <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                              <div class="container2">
                                <div class="card shadow">
                                    <div class="imgBx">
                                        <img src="/static/image/comp-4.png" class="img-fluid" alt="competition4" style=" height: 350px;">
                                    </div>
                                    <div class="content">
                                        <h3 class="text-center font-weight-bold">Ruby Hackaton</h3>
                                        <p class="mt-5 text-justify">In this challange, sets of problems are given related to the ruby challenges, user need to be select any of three sets of questions , should able to complete tasks and efficient solution with all the edge cases</p>
                                        <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                              <div class="container2">
                                <div class="card shadow">
                                    <div class="imgBx">
                                        <img src="/static/image/comp-5.png" class="img-fluid" alt="competition5" style=" height: 350px;">
                                    </div>
                                    <div class="content">
                                        <h3 class="text-center font-weight-bold">ML Hackaton</h3>
                                        <p class="mt-5 text-justify">In this challenge, five sets of real world data sets are griven from kaggle, user need to select any two of the datasets, and start data cleaning , user should train data test, recognize pattern, grades will be given as per accuracy and process choosen of the model</p>
                                         <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                              <div class="container2">
                                <div class="card shadow">
                                    <div class="imgBx">
                                        <img src="/static/image/comp-6.png" class="img-fluid" alt="competition6" style="height: 350px;">
                                    </div>
                                    <div class="content">
                                        <h3 class="text-center font-weight-bold">Web Hackaton</h3>
                                        <p class="mt-5 text-justify">In this hackaton, sets of web challanges are given, user need to be select whether frontend part or backend part, atleast should use any of the frameworks for the dynamic approach of the web application, grades would be allocated as per allignment, and output of the website </p>
                                        <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                            
                        
                     </div>
                </div>
                <div class="tab-pane fade" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
                    <div class="row mt-3">
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                    <img src="/static/image/spam.png" class="img-fluid" alt="projects1" style="height: 365px;">
                                  </div>
                                  <div class="content">
                                    <h3 class="text-dark text-center mb-3 font-weight-bold" >Spam Email Detection System</h3>
                                     <p class="text-dark mt-3"> Daily, many of the students and professionals come across spams emails where they lost their sensitive and confidential data, to solve this problem we build a spam detector using Artificial Intelligence Algorithms. from this project we have helped so many professionals and industry specialist to secure the data and not the data to be stolen. <br><br>
                                        <p class="mt-3 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                    <img src="/static/image/brcn.png" class="img-fluid" alt="projects2" style="height: 365px;">
                                  </div>
                                  <div class="content">
                                    <h3 class="text-dark text-center mb-3 font-weight-bold" >Breast cancer prediction</h3>
                                    <p class="text-dark mt-4"> In the world, 7% of the women facing breast cancer unfortunately we lost many lives, using big data we have collected massive datasets from lakhs of patients in various hospitals, we have used Decision tree classification algorithm in order to decide whether the patient has breast cancer or not, this project helped many of the people to predict the health condition <br> <br>
                                    <p class="mt-4 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                    <img src="/static/image/blockchain.jpg" class="img-fluid" alt="projects3" style="height: 365px;">
                                  </div>
                                  <div class="content">
                                    <h3 class="text-dark text-center mb-3 font-weight-bold" >Decentralised Web Hosting System</h3>
                                   <p class="text-dark mt-4"> Generally, we host all the web content including code, library and media content on a decentralised location, accessed through world wide web, sometimes website goes down when there is server maintaince,  to solve this problem we have used block chain which can split website into granules and split overt the internet and then linked all  together using a block chain registry<br>
                                     <p class="mt-3 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                    <img src="/static/image/vc.png" class="img-fluid" alt="projects4" style="height: 365px;">
                                  </div>
                                  <div class="content">
                                    <h3 class="text-dark font-weight-bold text-center mb-3" >Voice translation app</h3>
                                    <p class="text-dark mt-4"> Basically, when we travell to abroad, we struggles to communicate with natives because of not knowing their native language, to avoid this language barrier, we build an app that translate our voice in revolutionary way to communicate with travellers, and it also able to translate their language into our language, this project helped many people to translate languages <br><br>    
                                    <p class="mt-3 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                    <img src="/static/image/hacker.png" class="img-fluid" alt="projects5" style="height: 365px;">
                                  </div>
                                  <div class="content">
                                    <h3 class="text-dark mb-3 text-center font-weight-bold">Secured Password Generator</h3>
                                <p class="text-dark mt-4"> Now a days, most of the websites and data are being hacked by hackers, to solve this problem we created password generator using cryptography, suppose if hacker tried to hack the system and crack AES, it takes 1 billion billion's years to decrypt the data, through this project we are able to secure our sensitive data <br><br><br>
                                     <p class="mt-3 text-center"> <a href="t#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                    <img src="/static/image/movie.png" class="img-fluid" alt="projects6" style="height: 365px;">
                                  </div>
                                  <div class="content">
                                    <h3 class="text-dark text-center mb-3 font-weight-bold">Movie Recommen dation System</h3>
                                     <p class="text-dark mt-4"> Generally people become hectic in their work, for some extent they wanted to refresh and motivate themselves by seeing best movies, but they are not aware of best movies, to solve this, we build movie recommendtion system using data science by collaborative filtering and content based filtering to recommend movie for a user <br>
                                     <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div class="tab-pane fade bg-light" id="nav-indsol" role="tabpanel" aria-labelledby="nav-industry_solutions-tab">
                    <div class="row my-3">
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                          <div class="container2">
                            <div class="card shadow">
                                <div class="imgBx">
                                    <img src="/static/image/drone.png" class="img-fluid" alt="indsol1" style="height: 350px;">
                                </div>
                                <div class="content">
                                    <h3 class="text-center font-weight-bold">Drone solution</h3>
                                    <p class="mt-4 text-justify">In this covid situation, e-commerce websites unable to deliver their product to customer because of social distancing, to solve this issue, we created drone with fully automated, safe and accurate position delivery having geofencing,GPS redundancy and emergency landing.</p>
                                    <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                      <img src="/static/image/ocr.png" class="img-fluid" alt="indsol2" style="height: 350px;">
                                  </div>
                                  <div class="content">
                                      <h3 class="text-center font-weight-bold">OCR solution</h3>
                                      <p class="mt-4 text-justify">
                                        Banks and financial industries have thousands of custumer's old paper documents from many of years, to make paper documents into digital form, we created optical character recognition using computer vision which converts old documents into digital text form.</p>
                                        <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                        </div>
                          <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                      <img src="/static/image/sec3.png" class="img-fluid" alt="indsol3" style="height: 350px;">
                                  </div>
                                  <div class="content">
                                      <h3 class="text-center font-weight-bold">Security Solution </h3>
                                      <p class="mt-4 text-justify">Every one wants their data to be privacy and secure, to ensure security, we created block chains with multiple blocks, each block contains nonces and hashes with unique 256 bit number which is highly encrypted.</p>
                                      <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                      <img src="/static/image/ds.png" class="img-fluid" alt="indsol4" style=" height: 350px;">
                                  </div>
                                  <div class="content">
                                      <h3 class="text-center font-weight-bold">Business Solution </h3>
                                      <p class="mt-4 text-justify">To increase sales and marketing strategy of an industry, we used Data Science and collected numerous data, by scientific methods, processes and algorithms we are able to extract valuable information and leverage this data to take key decision.</p>
                                      <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                      <img src="/static/image/health.jpg" class="img-fluid" alt="indsol5" style=" height: 350px;">
                                  </div>
                                  <div class="content">
                                      <h3 class="text-center font-weight-bold">Healthcare Solution </h3>
                                      <p class="mt-4 text-justify">To provide medical facilities in remote areas, we created healthcare app with all necessary functions such as clinical support, communication, information sharing, monitoring functions, patient portals, reminders, a reference database, and so on.
                                    </p>
                                       <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-8 mx-sm-auto col-md-6 col-lg-4 my-3">
                            <div class="container2">
                              <div class="card shadow">
                                  <div class="imgBx">
                                      <img src="/static/image/iot.png" class="img-fluid" alt="indsol6" style="height: 350px;">
                                  </div>
                                  <div class="content">
                                      <h3 class="text-center font-weight-bold">IOT Solution </h3>
                                      <p class="mt-4 text-justify">we connected Home appliances with Internet of Things which allows the control of smart home from far, we wanted to transform and improve various aspects of your daily life with iot. we can do what ever we want with home appliances over internet</p>
                                      <p class="mt-5 text-center"> <a href="#" class="text-danger">know more<i class="fa fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                                  </div>
                              </div>
                            </div>
                          </div>  
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background:#05001d">
        <div style="position: relative; bottom: 0px;">
            <div class="box" style="height: auto">
                <div class="r-box   ">
                </div>
                <div class="r-box ">
                </div>
                <div class="r-box  d-lg-block d-md-none d-sm-none d-none p-0 ">
                </div>
                <div class="r-box d-lg-block d-md-none d-sm-none d-none p-0 ">
                </div>
                <div class=" ">
                </div>
                <div class="r-box d-lg-block d-md-none d-sm-none d-none p-0 ">
                </div>
                <div class="r-box d-lg-block d-md-none d-sm-none d-none p-0  ">
                </div>
                <div class="r-box ">
                </div>
                <div class="r-box  ">
                </div>
                <div class="r-box  ">
                </div>
                <div class="row no-gutters mt-5 ">
                    <div class="col-lg-3 d-lg-block d-md-none d-sm-none d-none p-0  "
                        style="border-right:1px solid transparent ;">
                        <ul class="p-4 mt-3" style="list-style-type:none; margin-left: 60px;  ">
                            <li class="m-2 ">
                                <a href="/jvt/vision'" class="footershortcut ">Vision</a>
                            </li>
                            <li class="m-2 ">
                                <a href="/Jvt/Careers" class="footershortcut ">Careers</a>
                            </li>
                            <li class="m-2 ">
                                <a href="/Jvt/welcome/Community" class="footershortcut ">Community</a>
                            </li>
                            <li class="m-2 ">
                                <a href="# " class="footershortcut ">Support</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 d-lg-block d-md-none d-sm-none d-none p-0 m-0 mt-3"
                        style="border-right:1px solid transparent ; ">
                        <ul class="p-4 " style="list-style-type:none;  ">
                            <li class="m-2 ">
                                <a href="# " class="footershortcut ">Admission policy</a>
                            </li>
                            <li class="m-2 ">
                                <a href="# " class="footershortcut ">online application</a>
                            </li>
                            <li class="m-2 ">
                                <a href="# " class="footershortcut ">site feedback</a>
                            </li>
                            <li class="m-2 ">
                                <a href="# " class="footershortcut ">Request a call back</a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                        <div class="p-3 ">
                            <h4 class="text-white text-center ">Need help ?</h4>
                            <div class="row text-white ml-5   ">

                                <div class="col text-white  ">

                                    <div>
                                        <i class="far fa-envelope" style="color: white"></i>
                                        <a class="text-white ml-2 " href="!# ">abcdefgh@gmail.com</a>
                                    </div>
                                </div>

                            </div>
                            <div class="row text-white ml-5   ">

                                <div class="col text-white  ">

                                    <div>
                                        <i class="fas fa-mobile-alt" style="color: white"></i>

                                        <a class="text-white ml-2 " href="!# ">+91 7009851021</a>
                                    </div>
                                </div>

                            </div>
                            <div class="row text-white ml-5   ">

                                <div class="col text-white  ">

                                    <div>

                                        <i class="fas fa-map-marker-alt" style="color: white"></i>
                                        <a class="text-white ml-2 " href="!# ">Jakhar Villa, Naear Lal kothi,</a>
                                        <div class="ml-4">
                                            Mansarover, Jaipur <br> Rajasthan, India <br> 332001 </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 p-0 m-0 mt-n2">
                        <div class="justify-content-center text-center p-3 ">
                            <p class="text-white font-weight-bold " style="font-size: 20px; ">Follow Us</p>
                            <div class="pb-4 ">

                                <a href="# " class="fa fa-facebook "></a>
                                <a href="# " class="fa fa-twitter "></a>
                                <a href="# " class="fa fa-linkedin "></a>
                                <a href="# " class="fa fa-instagram "></a>
                            </div>

                        </div>
                        <br>
                        <div class="justify-content-center ">

                        </div>
                    </div>

                </div>
                <div class="row mt-n3">
                    <div class="col-12 justify-content-center ">
                        <p class="text-white justify-content-center text-center  ">
                            Copyright ©
                            <script async=" " src="https://www.google-analytics.com/analytics.js "></script>
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved <i class="icon-heart text-danger " aria-hidden="true "></i> by <a
                                href="# " style="color: #ffd04d; font-weight: bold;" target="_blank ">JV
                                Technologies</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
  <script src="/static/js/script_upd.js "></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</div>
</body>
</html>