<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/static/css/message.css" media="screen" />
</head>

<body>
    <div class="container ">
        <div class="row justify-content-center">
            <form class="form shadow " action="/forgot/password" method="POST" name="OPtform" onsubmit="return verifypassword()">
                {%csrf_token%}
                <div class="form-row m-1 text-center justify-content-center">
                    <h2> Change Your Password </h2>
                </div>
                <div class="form-row mt-4 justify-content-center">
                    <p class="text-center" style="font-size: 17px;">Password Must Have Atleast<br> 4 Characters, One Digit,One Capital And One Special Character </p>
                </div>
                <div class="form-row m-3 ">
                    <div class="col">
                        New Password
                        <input type="password" id="Pass" name="Password" class="form-control" placeholder="Password" style="border-color: green;">
                        <span id="passele" class="text-danger font-weigth-bold"></span>
                    </div>
                </div>
                <div class="form-row m-3 ">
                    <div class="col">
                        Confirm Password
                        <input type="password" id="RPass" name="Password1" class="form-control" placeholder="Password" style="border-color: green;">
                        <span id="Rpassele" class="text-danger font-weigth-bold"></span>
                    </div>
                </div>
                <div class="form-row pt-3">
                    <div class="col ml-4 mr-4">
                        <input class="btn btn-info btn-block" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script>
        function verifypassword() {
            var Pass = document.getElementById('Pass').value;
            var RPass = document.getElementById('RPass').value;
            if (Pass == "") {
                document.getElementById('passele').innerHTML = "please enter password";
                return false;
            } else if (!((/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{4,20}$/)).test(Pass)) {
                document.getElementById('passele').innerHTML = "Invalid password";
                return false;
            } else {
                document.getElementById('passele').innerHTML = "";
                true;
            }
            if (RPass == "") {
                document.getElementById('Rpassele').innerHTML = "Enter confirm password";
                return false;
            }
            else if (Pass != RPass ) {
                document.getElementById('Rpassele').innerHTML = "Password Doesn't match";
                return false;
            }
            else {
                document.getElementById('Rpassele').innerHTML = "";
                true;
            }

        }

    </script>
</body>

</html>