<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e72f201fc4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- this line tell us the responsive grid sys-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e72f201fc4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/searchcourse_dup.css">
    <link rel="stylesheet" href="/static/css/banner.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/home_upd1.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg shadow fixed-top" style=" background-color: white;border-bottom: 1px solid white ">
        <a href="/" class="navbar-brand">
            <img src="/static/image/logo_copy.png" class="image-fluid text-white" alt="" style="height: 65px; ">
        </a>
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span style="color: #0c265f;"><i class="fas fa-bars fa-2x"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between ml-n1" id="navbarCollapse">
            <ul class="navbar-nav">
                <li>
                    <a href="/jvt/vision" class="mx-3 nav-item nav-link icons ">Vision</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle icons mx-3 " data-toggle="dropdown" style="color: #0c265f;">Courses</a>
                    <div class="dropdown-menu" style="border-radius: 10px; ">
                        <ul class="dropdown-item ">
                            <li style="list-style: none;" class="d-flex ml-n3">
                                <div style="border-color:#777;border-style:solid;border-width:1px;height:40px;width:70px;background-color: #9fa8da" class="center-align cyan lighten-3 black-text">
                                    <div style="margin:0;margin-top:2px;font-size:20px;font-weight:600;margin-left: 12px;">
                                        9-12
                                        <p style="font-size:9px;margin-top: -7px; margin-left: 10px" class="truncate">
                                            Age</p>
                                    </div>
                                </div>
                                <a href="/course/9" style="text-decoration: none; color: black;">
                                    <div class="justify-content-center text-center ml-3 mt-2">
                                        Beginner (Grade 5-7)
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-item ">
                            <li style="list-style: none;" class="d-flex ml-n3">

                                <div style="border-color:#777;border-style:solid;border-width:1px;height:40px;width:70px;background-color: #81d4fa;" class="center-align cyan lighten-3 black-text">
                                    <div style="margin:0;margin-top:2px;font-size:20px;font-weight:600;margin-left: 12px;">
                                        12-14
                                        <p style="font-size:9px;margin-top: -7px;margin-left: 12x" class="truncate">Age</p>
                                    </div>
                                </div>
                                <a href="/course/12" style="text-decoration: none; color: black;">
                                    <div class="justify-content-center text-center ml-3 mt-2">
                                        Intermediate (Grade 8-10)
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="dropdown-item ">
                            <li style="list-style: none;" class="d-flex ml-n3">
                                <div style="border-color:#777;border-style:solid;border-width:1px;height:40px;width:70px;background-color: #fff59d;" class="center-align cyan lighten-3 black-text">
                                    <div style="margin:0;margin-top:2px;font-size:20px;font-weight:600;margin-left: 8px;">
                                        15+
                                        <p style="font-size:9px;margin-top: -7px;margin-left: 12px" class="truncate">Age</p>
                                    </div>
                                </div>
                                <a href="/course/15" style="text-decoration: none; color: black;">

                                    <div class="justify-content-center text-center ml-3 mt-2">
                                        Advanced (Grade 11+)
                                    </div>
                                </a>

                            </li>
                        </ul>

                    </div>
                </li>
                <li>
                    <a href="/Jvt/welcome/Community" class="nav-item nav-link  icons mx-3 ">Community</a>
                </li>
                <li>
                    <a href="/Jvt/Careers" class="nav-item nav-link  icons mx-3 ">Career</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-md-4 ml-lg-n3 ml-xl-0 ">
                <a href="" class="sear " data-toggle="modal" data-target="#search">
                    <img src="/static/image/Search2.png" alt="" height="70px" width="auto"></a>
                    {%if user.is_authenticated %}
                    <li class="nav-item dropdown pt-3">
                        <div class="c-profile-image d-inline " aria-hidden="true" style="width: 45px; height: 45px;">
                            {%if profile.photo == 'False' %}
                            <img src="/static/image/profilepic.png" class="rounded-circle" alt=""
                                style="max-width: 45px; max-height: 45px;">
                            {%elif po == 0%}
                            <img src="/static/image/profilepic.png" class="rounded-circle" alt=""
                                style="max-width: 45px; max-height: 45px;">
                            {%else%}
                            <img src="{{profile.photo.url}}" class="rounded-circle" alt=""
                                style="max-width: 45px; max-height: 45px;">
                            {%endif%}
                            <li class="nav-item dropdown pt-3 mx-3">
                                <a class="nav-link dropdown-toggle text-dark d-inline" href="#" id="dropdown01"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    style="font-size: 20px;">{{user.username}}</a>
                                <div class="dropdown-menu   " aria-labelledby="dropdown01" style="font-size: 20px;">
                                    <a class="dropdown-item drop center"  href="/Profile/user=/{{user.id}}">
                                        <i class="far fa-user-circle pr-3" style="font-size: 30px;"></i>
                                        Profile</a>
                                    <hr class="m-0 p-0 text-black">
                                    <a class="dropdown-item drop center " href="/logout">
                                        <i class="fas fa-power-off pl-1 pr-3"style="font-size: 30px;"></i>Logout</a>
                                </div>
                            </li>
                        </div>
                    </li>
                    {%else%}
                    <li>
                        <a href="#" class=" btn mr-5 badge-pill px-5 nav-item  nav-link  icons " id="signupp" data-toggle="modal" data-target="#Signup">Signup</a>
                    </li>
                    <li>
                        <a href="/account/login" class="btn mr-5 px-5 badge-pill nav-item nav-link icons " id="signupp">Login</a>
                    </li>
                    {%endif%}
            </ul>
        </div>
    </nav>
    <div class="modal fade bd-example-modal-lg" id="search" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-white" style="border-radius: 20px; width: auto;">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold text-black">Search </h4>
                    <button type="button" class="close text-black mr-3" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/course/search" method='POST' onsubmit="return SValidation()">
                        {%csrf_token%}
                        <div class="form-row p-2">
                            <div class=" row no-gutters col-lg-8 col-md-12 col-12 offset-lg-2 offset-md-0">
                                <div class="col-2 text-left pt-3">
                                    <p class="m-0 p-0 " style="font-size: 18px;">Grade:</p>
                                </div>
                                <div class="col-10 pl-2">
                                    <ul class="donate-now">
                                        <li>
                                            <input type="radio" id="G1" value="9" name="Grade1" />
                                            <label for="G1">9-12</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="G2" value="12" name="Grade1" />
                                            <label for="G2">13-15</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="G3" value="15" name="Grade1">
                                            <label for="G3">15+</label>
                                        </li>
                                    </ul><br><br>
                                    <span id="gradeele" class="text-danger font-weigth-bold"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row p-3">
                            <div class=" row no-gutters col-lg-8 col-md-12 col-12 offset-lg-2 offset-md-0">
                                <div class="col-2">
                                    <p class="m-0 pt-2" style="font-size: 18px;">Search:</p>
                                </div>
                                <div class="col-10 text-left">
                                    <input type="search" id="item" class="form-control" name="item" rows="4"
                                        cols="auto">
                                    <span id="itemele" class="text-danger font-weigth-bold"></span>
                                </div>
                            </div>
                        </div>
                        <div class="center p-3">
                            <input class="btn btn-info btn-block mt-2" type="submit" value="Search"
                                style="background-color: orange;font-weight: bold; width: 40%;font-size: 20px;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="Signup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content varsig">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold text-white"> Create Your Own Account </h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row ">
                        <a class="mb-2 col-lg-6 col-md-12 col-12 text-center text-decoration-none" href="/Signup/Student">
                            <div class="student">
                                <h3 class="font-weight-bold text-primary"> Student</h3>
                                <p class="parafont">Create anything you imagine by learning to build with code.</p>
                                <img src="/static/image/1-removebg.png" alt="" style="width: 180px;">
                            </div>
                        </a>
                        <a class=" col-lg-6 col-md-12 col-12 text-center text-decoration-none" href="/Signup/Parent">
                            <div class="parent">
                                <h3 class="font-weight-bold text-primary"> Parents</h3>
                                <p class="parafont">Lets Make Your To Learn Coding In A Esay Way.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="modal-footer  justify-content-center">
                    <div class="text-center text-white">
                        Already Have An Account
                        <a class="text-white font-weight-bold" href="#">Login</a><br>
                        <a class="text-white text-center" href="#">privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container shadow bg-white my-5 mt-5 pt-3">
             <h4 class="mb-4 ml-4 pt-5 font-weight-bold my-5 mt-5">Searched courses, Happy learning :)</h4>
                        <div id="myDIV11">
                            <div class="mt-2 row p-4 text-left"
                               style="text-decoration: none;">
                               {%for course in course%}
                                <div class="col-lg-4 col-md-6 col-12 mb-3">
                                    <div class=" shadow p-4 justify-content-center text-center"
                                        style="background-color:{{course.color1}}; border: 1px solid {{course.color2}}; border-radius: 15px;">
                                        <div class="justify-content-center text-center m-auto"
                                            style="width: 100px;height: 100px;background-color: white; border-radius: 50px; ">
                                            <p style="font-size: 60px; font-weight: bold;font-style: italic; color: {{course.color2}};">
                                                {{course.courseName|make_list|first}}</p>
                                        </div>
                                        <h3 class="black-text mt-2"
                                            style="margin:0;padding:0;font-size:21px;font-weight:600;line-height:1.6; color: {{course.color2}};">
                                            {{course.courseName}}-Online</h3><br>

                                        <p
                                            style="margin:0;padding:0;font-size:13px;font-weight:400;line-height:1.6">
                                            Learn the fundamentals of programming, data structures, web
                                            development, and
                                            data science using Python - The hottest language.
                                        </p>
                                        <div class="row m-1 pt-2 pb-2">
                                            <div class="couitem3 col-lg-5 col-md-5 col-5 mr-1 mt-2" style="border: 1px solid {{course.color2}};color: {{course.color2}};">Data
                                                Structures
                                            </div>
                                            <div class="couitem3 col-lg-4 col-md-4 col-4 mr-1 mt-2"style="border: 1px solid {{course.color2}};color: {{course.color2}};" >Data Science
                                            </div>
                                            <div class="couitem3 col-lg-6 col-md-6 col-6 mt-2"style="border: 1px solid {{course.color2}};color: {{course.color2}};">Web Development
                                            </div>
                                        </div>
                                        <div class="pt-1">
                                            <div class="row p-3 justify-content-center">
                                                <form action="/course/fullCurriculum" method="POST">
                                                    {%csrf_token%}
                                                <button class="viewcourse3 shadow-lg  rounded " name="courseid"
                                                style="text-decoration: none;background-color: {{course.color2}};" value="{{course.id}} ">View</button>
                                                </form>
                                                <form action="/course/Democlass/Signup" method="POST" class="ml-2">
                                                    {%csrf_token%}
                                                <button class="viewcourse3 shadow-lg  rounded "name="courseid"
                                                    style="text-decoration: none;background-color: {{course.color2}};" value="{{course.id}}">Demo class
                                                </button>
                                                </form>
                                            </div>
                                            <hr class="m-0 p-0">
                                            <div class="font-weight-bold p-3" style="font-size:35px;">Rs.{{course.price}}/-
                                            </div>
                                            <form action="/course/Buy" method="POST">
                                                {%csrf_token%}
                                                <button class="buycourse3 shadow-lg  rounded"  name="courseid"
                                                style="text-decoration: none;background-color: {{course.color2}};" value="{{course.id}}">Buy
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}  
                    </div>  
                    <hr>
                <h4 class="mb-4 ml-4 pt-5 font-weight-bold">Recommended Courses </h4><hr>
                       <div id="myDIV11">
                           <div class="mt-2 row p-4 text-left"
                               style="text-decoration: none;">
                               {%for course in recom%}
                                <div class="col-lg-4 col-md-6 col-12 mb-3">
                                    <div class=" shadow p-4 text-center"
                                        style="background-color:{{course.color1}}; border: 1px solid {{course.color2}}; border-radius: 15px;">
                                        <div class="justify-content-center text-center m-auto"
                                            style="width: 100px;height: 100px;background-color: white; border-radius: 50px; ">
                                            <p
                                                style="font-size: 60px; font-weight: bold;font-style: italic; color: {{course.color2}};">
                                                {{course.courseName|make_list|first}}</p>
                                        </div>
                                        <h3 class="black-text mt-2"
                                            style="margin:0;padding:0;font-size:21px;font-weight:600;line-height:1.6; color: {{course.color2}};">
                                            {{course.courseName}}-Online</h3><br>

                                        <p
                                            style="margin:0;padding:0;font-size:13px;font-weight:400;line-height:1.6">
                                            Learn the fundamentals of programming, data structures, web
                                            development, and
                                            data science using Python - The hottest language.
                                        </p>
                                        <div class="row m-1 pt-2 pb-2">
                                            <div class="couitem3 col-lg-5 col-md-5 col-5 mr-1 mt-2" style="border: 1px solid {{course.color2}};color: {{course.color2}};">Data
                                                Structures
                                            </div>
                                            <div class="couitem3 col-lg-4 col-md-4 col-4 mr-1 mt-2"style="border: 1px solid {{course.color2}};color: {{course.color2}};" >Data Science
                                            </div>
                                            <div class="couitem3 col-lg-6 col-md-6 col-6 mt-2"style="border: 1px solid {{course.color2}};color: {{course.color2}};">Web Development
                                            </div>
                                        </div>
                                        <div class="pt-1">
                                            <div class="row p-3 justify-content-center">
                                                <form action="/course/fullCurriculum" method="POST">
                                                    {%csrf_token%}
                                                <button class="viewcourse3 shadow-lg  rounded " name="courseid"
                                                style="text-decoration: none;background-color: {{course.color2}};" value="{{course.id}} ">View</button>
                                                </form>
                                                <form action="/course/Democlass/Signup" method="POST" class="ml-2">
                                                    {%csrf_token%}
                                                <button class="viewcourse3 shadow-lg  rounded "name="courseid"
                                                    style="text-decoration: none;background-color: {{course.color2}};" value="{{course.id}}">Demo class
                                                </button>
                                                </form>
                                            </div>
                                            <hr class="m-0 p-0">
                                            <div class="font-weight-bold p-3" style="font-size:35px;">Rs.{{course.price}}/-
                                            </div>
                                            <form action="/course/Buy" method="POST">
                                                {%csrf_token%}
                                                <button class="buycourse3 shadow-lg  rounded"  name="courseid"
                                                style="text-decoration: none;background-color: {{course.color2}};" value="{{course.id}}">Buy
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}  
                            </div>  
                        </div> 
                        </div>
        </div>
        <div class="container-fluid" style="background:#05001d">
            <div style="position: relative; bottom: 0px;">
                <div class="box" style="height: auto">
                    <div class="r-box   ">
                    </div>
                    <div class="r-box ">
                    </div>
                    <div class="r-box  d-lg-block d-md-none d-sm-none d-none p-0 ">
                    </div>
                    <div class="r-box d-lg-block d-md-none d-sm-none d-none p-0 ">
                    </div>
                    <div class=" ">
                    </div>
                    <div class="r-box d-lg-block d-md-none d-sm-none d-none p-0 ">
                    </div>
                    <div class="r-box d-lg-block d-md-none d-sm-none d-none p-0  ">
                    </div>
                    <div class="r-box ">
                    </div>
                    <div class="r-box  ">
                    </div>
                    <div class="r-box  ">
                    </div>
                    <div class="row no-gutters mt-5 ">
                        <div class="col-lg-3 d-lg-block d-md-none d-sm-none d-none p-0  "
                            style="border-right:1px solid transparent ;">
                            <ul class="p-4 mt-3" style="list-style-type:none; margin-left: 60px;  ">
                                <li class="m-2 ">
                                    <a href="/jvt/vision'" class="footershortcut ">Vision</a>
                                </li>
                                <li class="m-2 ">
                                    <a href="/Jvt/Careers" class="footershortcut ">Careers</a>
                                </li>
                                <li class="m-2 ">
                                    <a href="/Jvt/welcome/Community" class="footershortcut ">Community</a>
                                </li>
                                <li class="m-2 ">
                                    <a href="# " class="footershortcut ">Support</a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="col-lg-2 d-lg-block d-md-none d-sm-none d-none p-0 m-0 mt-3"
                            style="border-right:1px solid transparent ; ">
                            <ul class="p-4 " style="list-style-type:none;  ">
                                <li class="m-2 ">
                                    <a href="# " class="footershortcut ">Admission policy</a>
                                </li>
                                <li class="m-2 ">
                                    <a href="# " class="footershortcut ">online application</a>
                                </li>
                                <li class="m-2 ">
                                    <a href="# " class="footershortcut ">site feedback</a>
                                </li>
                                <li class="m-2 ">
                                    <a href="# " class="footershortcut ">Request a call back</a>
                                </li>
    
                            </ul>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 ">
                            <div class="p-3 ">
                                <h4 class="text-white text-center ">Need help ?</h4>
                                <div class="row text-white ml-5   ">
    
                                    <div class="col text-white  ">
    
                                        <div>
                                            <i class="far fa-envelope" style="color: white"></i>
                                            <a class="text-white ml-2 " href="!# ">abcdefgh@gmail.com</a>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="row text-white ml-5   ">
    
                                    <div class="col text-white  ">
    
                                        <div>
                                            <i class="fas fa-mobile-alt" style="color: white"></i>
    
                                            <a class="text-white ml-2 " href="!# ">+91 7009851021</a>
                                        </div>
                                    </div>
    
                                </div>
                                <div class="row text-white ml-5   ">
    
                                    <div class="col text-white  ">
    
                                        <div>
    
                                            <i class="fas fa-map-marker-alt" style="color: white"></i>
                                            <a class="text-white ml-2 " href="!# ">Jakhar Villa, Naear Lal kothi,</a>
                                            <div class="ml-4">
                                                Mansarover, Jaipur <br> Rajasthan, India <br> 332001 </div>
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
    
                        </div>
    
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 p-0 m-0 mt-n2">
                            <div class="justify-content-center text-center p-3 ">
                                <p class="text-white font-weight-bold " style="font-size: 20px; ">Follow Us</p>
                                <div class="pb-4 ">
    
                                    <a href="# " class="fa fa-facebook "></a>
                                    <a href="# " class="fa fa-twitter "></a>
                                    <a href="# " class="fa fa-linkedin "></a>
                                    <a href="# " class="fa fa-instagram "></a>
                                </div>
    
                            </div>
                            <br>
                            <div class="justify-content-center ">
    
                            </div>
                        </div>
    
                    </div>
                    <div class="row mt-n3">
                        <div class="col-12 justify-content-center ">
                            <p class="text-white justify-content-center text-center  ">
                                Copyright ©
                                <script async=" " src="https://www.google-analytics.com/analytics.js "></script>
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved <i class="icon-heart text-danger " aria-hidden="true "></i> by <a
                                    href="# " style="color: #ffd04d; font-weight: bold;" target="_blank ">JV
                                    Technologies</a>
                            </p>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>